body
{
    margin-left: 3%;
    margin-right: 3%;
}

ol.tabl-1 span
{
    background-color: brown;
    color: white;
    padding-left: 3px;
    padding-right   : 3px;

    
}

ol.tabl-1 li
{
    width: 98%;
    background-color: rgb(242, 83, 83);
    margin-top: 3px;
    margin-bottom: 3px;


}

ol.tabl-1 
{
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: palevioletred;
    color:white;
}

.tabl1
{
    list-style-type: square;
}

